@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {

       --primary: #00040f;
        --secondary: #00f6ff;
        --dimwhite: rgba("225, 225, 225, 0.7");
        --dimBlue: rgba("9, 151, 124, 0.1");
        --xs: "480px";
        --ss: "620px";
        --sm: "768px";
        --md: "1060px";
        --xl: "1200px";
}

body {
    font-family: 'Poppins, sans-serif';
}



@-webkit-keyframes slide-top {
     0% {
        -webkit-animation: backwards;
        -webkit-transform: translateX(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-animation: backwards;
        -webkit-transform: translateX(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }
}



.feature-card {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:nth-child{
    margin: 0px;
}

.feeback:hover{
  background: var(--black-gradient);
}

.feedback {
    background: transparent;
}



.blue__gradient {
     background: linear-gradient(180deg, rgba(185, 165, 225, 0) 0%, #214d76 100% );                                                                                                                                         
    filter: blur(123px);
}

.pink__gradient {
      background: linear-gradient(90deg, #f4c4f4,  0%, #c467c4 100% );                                                                                                                                         
    filter: blur(900px);
}

.white__gradient {
      background: linear-gradient(180deg, rgba(225, 225, 225, 0.6) 0%, #214d76 100% );                                                                                                                                         
    filter: blur(750px);
}